<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Star Wars - Express</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>RENAI</h1>
            <h3>The the only haiku dating app</h3>

        </div>

        <div class="haiku-container">
            <ul class="list-group">
                <li class="list-group-item">The juxtaposition of panda and monkey is truly inspired <button
                        type="button" class="btn btn-success">LIKE</button><button type="button"
                        class="btn btn-danger">Dislike</button> </li>
                <li class="list-group-item">Amazing how so few words can set a scene so perfectly. I close my eyes and
                    all I can see is the rainy christmas day.<button type="button"
                        class="btn btn-success">LIKE</button><button type="button"
                        class="btn btn-danger">Dislike</button> </li>
            </ul>
        </div>


    </div>

    <script type="text/javascript">
    </script>
</body>

</html>