<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Renai Profile</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Profile</h1>

        </div>
        <div class="row">

            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header">
                        Insert Your Bio
                    </div>
                    <div class="card-body">
                        <form action="" method="POST" role="form">

                            <div class="form-group">
                                <label for="">Haiku 1</label>
                                <textarea class="form-control" id="haikui" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="">Haiku 2</label>
                                <textarea class="form-control" id="haikuii" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="">Haiku 3</label>
                                <textarea class="form-control" id="haikuiii" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="">Haiku 4</label>
                                <textarea class="form-control" id="haikuiv" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="">The Main Haiku</label>
                                <textarea class="form-control" id="mainhaiku" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="">Profile Picture</label>
                                <input type="file" class="form-control" id="profile-picture" placeholder="">
                            </div>

                            <div class="form-group">
                                <label for="">Full Name</label>
                                <input type="text" class="form-control" id="full-name" placeholder="">
                            </div>

                            <div class="form-group">
                                <label for="">Age</label>
                                <input type="select" class="form-control" id="sexual-orientation" placeholder="">
                                <select>
                                    <option value="18-24">18-24</option>
                                    <option value="25-29">25-29</option>
                                    <option value="30-34">30-34</option>
                                    <option value="35-39">35-39</option>
                                    <option value="40-44">40-44</option>
                                    <option value="45-49">45-49</option>
                                    <option value="50-54">50-54</option>
                                    <option value="55 and up">55 and up</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="">Race/Ethnicity</label>
                                <form class="form-control" id="race/ethnicity" placeholder=""> <br>
                                    <input type="checkbox" value="A/AA/C">African American/African/Carribean<br>
                                    <input type="checkbox" value="C/E/G">Caucasian/European/Gypsy<br>
                                    <input type="checkbox" value="H/L">Hispanic/Latinx<br>
                                    <input type="checkbox" value="A/SA">Asian/South Asian<br>
                                    <input type="checkbox" value="ME/A">Middle Eastern/Arab<br>
                                    <input type="checkbox" value="NA/AB/AL">Native American/Aboringinal/Alaskan<br>
                                    <input type="checkbox" value="PI/EI/O">Pacific Islander/East Indies/Oceanian<br>
                                    <input type="checkbox" value="B/M">Biracial/Multiracial</option>
                            </div>

                            <div class="form-group">
                                <label for="">Biological Sex</label>
                                <input type="select" class="form-control" id="biological-sex" placeholder="">
                                <select>
                                    <option value="cisgender-male">Cisgender Male</option>
                                    <option value="cisgender-female">Cisgender Female</option>
                                    <option value="transgender-female">Transgender Female</option>
                                    <option value="transgender-male">Transgender Male</option>
                                    <option value="intersex">Intersex</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="">Gender</label>
                                <input type="select" class="form-control" id="gender" placeholder="">
                                <select>
                                    <option value="binary-male">Binary Male</option>
                                    <option value="binary-female">Binary Female</option>
                                    <option value="genderqueer">Genderqueer</option>
                                    <option value="genderfluid">Genderfluid</option>
                                    <option value="bigender">Bigender</option>
                                    <option value="pangender">Pangender</option>
                                    <option value="polygender">Polygender</option>
                                    <option value="agender">Agender</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="">Pronouns</label> <br>
                                <form class="form-control" id="pronouns" placeholder="">
                                    <input type="checkbox" value="He-His-Him">He/His/Him<br>
                                    <input type="checkbox" value="She-Her-Hers">She/Her/Hers<br>
                                    <input type="checkbox" value="they-them-theirs">They/Them/Theirs<br>
                                    <input type="checkbox" value="other">other<br>
                            </div>

                            <div class="form-group">
                                <label for="">Gender Expression</label> <br>
                                <form class="form-control" id="gender-expression" placeholder="">
                                    <input type="checkbox" value="masculine">Masculine<br>
                                    <input type="checkbox" value="feminine">Feminine<br>
                                    <input type="checkbox" value="androgynous">Androgynous<br>
                                    <input type="checkbox" value="neither">Neither<br>
                            </div>

                            <div class="form-group">
                                <label for="">Location</label>
                                <input type="text" class="form-control" id="location" placeholder="">
                            </div>

                            <div class="form-group">
                                <label for="">Distance</label>
                                <input type="select" class="form-control" id="distance" placeholder="">
                                <select>
                                    <option value="less-than-five">Less Than 5 mi</option>
                                    <option value="five">5 mi</option>
                                    <option value="ten">10 mi</option>
                                    <option value="twenty-five">25 mi</option>
                                    <option value="fifty">50 mi</option>
                                    <option value="hundred">100 mi</option>
                                    <option value="two-hundred">200 mi</option>
                                    <option value="more-than-two-hundred">More than 200 mi</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="">Age Group in Partner</label>
                                <input type="select" class="form-control" id="agip" placeholder="">
                                <select>
                                    <option value="18-24">18-24</option>
                                    <option value="25-29">25-29</option>
                                    <option value="30-34">30-34</option>
                                    <option value="35-39">35-39</option>
                                    <option value="40-44">40-44</option>
                                    <option value="45-49">45-49</option>
                                    <option value="50-54">50-54</option>
                                    <option value="55 and up">55 and up</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="">Biological Sex in Partner</label>
                                <input type="select" class="form-control" id="bsip" placeholder="">
                                <select>
                                    <option value="cisgender-male">Cisgender Male</option>
                                    <option value="cisgender-female">Cisgender Female</option>
                                    <option value="transgender-female">Transgender Female</option>
                                    <option value="transgender-male">Transgender Male</option>
                                    <option value="intersex">Intersex</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="">Gender in Partner</label>
                                <input type="select" class="form-control" id="gip" placeholder="">
                                <select>
                                    <option value="binary-male">Binary Male</option>
                                    <option value="binary-female">Binary Female</option>
                                    <option value="genderqueer">Genderqueer</option>
                                    <option value="genderfluid">Genderfluid</option>
                                    <option value="bigender">Bigender</option>
                                    <option value="pangender">Pangender</option>
                                    <option value="polygender">Polygender</option>
                                    <option value="agender">Agender</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="">Partner's Prefered Pronouns</label>
                                <form class="form-control" id="ppp" placeholder=""> <br>
                                    <input type="checkbox" value="He-His-Him">He/His/Him<br>
                                    <input type="checkbox" value="She-Her-Hers">She/Her/Hers<br>
                                    <input type="checkbox" value="they-them-theirs">They/Them/Theirs<br>
                                    <input type="checkbox" value="other">other<br>
                            </div>

                            <div class="form-group">
                                <label for="">Gender Expression in Partner</label>
                                <form class="form-control" id="geip" placeholder=""> <br>
                                    <input type="checkbox" value="masculine">Masculine<br>
                                    <input type="checkbox" value="feminine">Feminine<br>
                                    <input type="checkbox" value="androgynous">Androgynous<br>
                                    <input type="checkbox" value="neither">Neither<br>
                            </div>

                        </form>
                        <br>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary btn-md" id="add-btn">
                                <span class="fa fa-fire"></span> Submit You Bio</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="js/add.js" type="text/javascript"></script>

</body>

</html>