/* unvisited link */
a:link {
  color: #0000ff;
}

/* visited link */
a:visited {
  color: #ff0000;
}

/* mouse over link */
a:hover {
  color: #ff0062;
}

/* selected link */
a:focus {
  color: #b700ff;
}

#cancelbtn {
  background-color: rgb(167, 63, 124);
  color: rgb(88, 6, 57);
}

#loginbtn {
  background-color: rgb(167, 63, 124);
  color: rgb(94, 0, 58);
}

#add-btn {
  background-color: rgb(167, 63, 124);
  color: rgb(94, 0, 58);
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../images/sakura.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

body,
html {
  margin: 0px;
  background-image: url("../images/mauvegradiant.jpg");
  background-repeat: no-repeat;
  background-size: 1000px, 1000px;
  /* background-size: */
}

h1 {
  color: rgb(102, 0, 5);
  font-family: "Chalkduster", fantasy;
  font-size: 300%;
  font-style: italic;
  text-align: center;
}

h2 {
  color: rgb(102, 0, 5);
  font-family: "Chalkduster", fantasy;
  font-size: 800%;
  font-style: italic;
  text-align: center;
}

h3 {
  color: rgb(102, 0, 5);
  font-family: "Chalkduster", fantasy;
  font-size: 300%;
  font-style: italic;
  text-align: center;
}

.list-group-item {
  margin: 10px;
  background-color: rgb(255, 129, 146);
}

.card {
  margin: 10px;
  background-color: rgb(255, 129, 146);
}
.haiku-container {
  margin: 10px;
  background-color: rgb(154, 100, 255);
  color: rgb(19, 0, 34);
}

h5 {
  color: rgb(19, 0, 34);
  font-family: "Roboto", sans-serif;
  font-size: 150%;
  text-align: center;
}

h {
  color: rgb(19, 0, 34);
  font-family: "Roboto", sans-serif;
  font-size: 200%;
}

.psw {
  color: rgb(19, 0, 34);
}

p {
  color: rgb(102, 0, 5);
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 2px;
  border: 5px solid rgb(154, 100, 255);
}
