
/* unvisited link */
a:link {
    color: rgb(55, 0, 255);
  }
  
  /* visited link */
  a:visited {
    color: #00FF00;
  }
  
  /* mouse over link */
  a:hover {
    color: #FF00FF;
  }
  
  /* selected link */
  a:focus {
    color: #0000FF;
  }

  .jumbotron{
    background-image: url("../images/sakura.gif");
   }

 

h1  {
    color: rgb(255, 8, 0);
    font-family: 'Chalkduster', fantasy;
    font-size: 300%;
    font-style: italic;
    text-align: center;
    }

h2  {
    color: rgb(255, 8, 0);
    font-family: 'Chalkduster', fantasy;
    font-size: 800%;
    font-style: italic;
    text-align: center;
    }    

h3  {
  color: rgb(255, 8, 0);
  font-family: 'Chalkduster', fantasy;
  font-size: 300%;
  font-style: italic;
  text-align: center;
  }

h4  {
    color: blue;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    text-align: center;
}

h5  {
    color: blue;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    text-align: center;
}

h   {
    color: blue;
    font-family: 'Roboto', sans-serif;
  font-size: 200%;
}
p    {
    color: red;
    font-family: 'Roboto', sans-serif;
  font-size: 100%;
  text-align: center;
}

    img { 
      width: 100%; 
      border: 5px solid red;
      padding: 2px;
      margin: 5px;
      }

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      }

    